/*body {
    box-sizing: border-box; /* para leer sobre como funciona box sizing https://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
  /*  margin: 0;
    padding: 0px;
    display: inline-block;
    border: 1px solid #CCC;
  }
  
  /*.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    border: 1px solid #CCC;
    display: inline-block;
  }
  
  /* funcionamiento de before y after https://developer.mozilla.org/es/docs/Web/CSS/::before https://developer.mozilla.org/es/docs/Web/CSS/::after */
  /*  .row:before, .row:after {
    content: " ";
    display: table;
  }
  
/*  .row {  /* como funciona la propiedad clear https://developer.mozilla.org/es/docs/Web/CSS/clear */
/*    clear: both;
  }
  
  /* el selector [class*="col-"] hace referencia a qué todas 
  las clases que comiencen con col- se verán afectas por los estilos */
  [class*="col-"] { 
    /*min-height: 7px;*/
    border: 1px solid black;
  }
  img {
      width: 420px;
      height: 400px;
      background-color: black;
  }
  body {
      background-color: black;
  }
  /* (n/12)*100 ----> (1/12)*100 = 8,333333333  
  (el 12 en la formula corresponde a la cantidad de columnas en las que dividiremos el sitio*/
  .col-1 {
    position: static;
    background-color: rgb(70, 148, 179);
    text-align: center;
    
  }
  
  .col-2 {
    float: left;
    box-sizing: content-box;
    width: 420px;
    height: 400px;
    box-align: left;
  }
  
  .col-3 {
    float: left;
    box-sizing: content-box;
    width: 417px;
    height: 400px;
    box-align: center;
    margin-left: 1px;
    margin-right: 1px;
    background-color: black;
    font-size: 22px;
    text-align: center;
  }
  
  .col-4 {
    float: right;
    box-sizing: content-box;
    width: 420px;
    height: 400px;
    box-align: right;

  }
  
  .col-5 {
    clear: left;
    box-sizing: content-box;
    background-color: plum;
    text-align: center;
  }
  
  /*.col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58,333333333%;
  }
  
  .col-8 {
    width: 66,666666667%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83,333333333%;
  }
  
  .col-11 {
    width: 91,666666667%;
  }
  
  .col-12{
    width: 100%;
  }
  
  
  /* links interesantes sobre media queries https://learn-the-web.algonquindesign.ca/topics/media-queries/ 
    https://kapeli.com/cheat_sheets/CSS_Device_Media_Queries.docset/Contents/Resources/Documents/index */
 /* [class*="col-"] 
    @media all and (max-width: 700px){ 
      [class*="col-"] {
        width: 100%
      }
  }
  
  /* Estilos propios de la página */
  h1{
    font-family: 'Bowlby One SC', cursive;
    color: pink;
  }
  
  p{
    font-family: 'Open Sans', sans-serif;
    color: blue;
  }
  
  /*img{
    margin: 0 auto;
    display: block;
  }